.social-btn {
  background-color: #e3e9ec;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40ffffff', endColorstr='#00ffffff', GradientType=0 );
  content: '';
  cursor: pointer;
  display: inline-block;
  position: relative;
  margin: 2px;
  z-index: 400; }
  .social-btn:before, .social-btn:after {
    content: "";
    display: block;
    position: relative; }
  .social-btn:before {
    border: solid 2px white;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    top: -2px;
    left: -2px;
    z-index: 200; }
    .social-btn:before:hover, .social-btn:before:focus {
      background-color: white; }
    .social-btn:before:active {
      background-color: #c5d1d7; }
  .social-btn:after {
    background: url("../img/sprite-rsmb.png") no-repeat;
    border: solid 2px #c5d1d7;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white;
    width: 28px;
    height: 28px;
    top: -36px;
    z-index: 600; }
  .social-btn.rounded, .social-btn.rounded:after {
    -webkit-border-radius: 8px;
    border-radius: 8px; }
  .social-btn.rounded:before {
    -webkit-border-radius: 10px;
    border-radius: 10px; }

.social-btn, .social-btn:before {
  width: 32px;
  height: 32px; }

.social-btn, .social-btn:before, .social-btn:after {
  -webkit-border-radius: 18px;
  border-radius: 18px; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2) {
  .social-btn:after {
    background: url("../img/sprite-rsmb-x2.png") no-repeat;
    -webkit-background-size: 56px;
    -moz-background-size: 56px;
    background-size: 56px; } }
.drupal {
  background-color: #ebebeb; }
  .drupal:after {
    background-position: -28px -252px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
  .drupal:hover {
    background-color: white; }
  .drupal:active {
    background-color: #d2d2d2; }

.drupal-alt {
  background-color: #0077c0; }
  .drupal-alt:after {
    background-position: -28px -280px;
    border-color: #00578d;
    -webkit-box-shadow: inset 0px 1px 2px 0px #41b7ff;
    box-shadow: inset 0px 1px 2px 0px #41b7ff; }
  .drupal-alt:hover {
    background-color: #0097f3; }
  .drupal-alt:active {
    background-color: #00578d; }

.facebook {
  background-color: #4a6ea9; }
  .facebook:after {
    background-position: 0 0;
    border-color: #3a5786;
    -webkit-box-shadow: inset 0px 1px 2px 0px #9eb3d5;
    box-shadow: inset 0px 1px 2px 0px #9eb3d5; }
  .facebook:hover {
    background-color: #6989bd; }
  .facebook:active {
    background-color: #3a5786; }
  .facebook.alt:after {
    background-position: -28px -84px; }

.flickr {
  background-color: #ebebeb; }
  .flickr:after {
    background-position: 0 -28px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
  .flickr:hover {
    background-color: white; }
  .flickr:active {
    background-color: #d2d2d2; }

.foursquare {
  background-color: #0086bf; }
  .foursquare:after {
    background-position: 0 -56px;
    border-color: #00628c;
    -webkit-box-shadow: inset 0px 1px 2px 0px #40c6ff;
    box-shadow: inset 0px 1px 2px 0px #40c6ff; }
  .foursquare:hover {
    background-color: #00aaf2; }
  .foursquare:active {
    background-color: #00628c; }
  .foursquare.alt:after {
    background-position: -28px -140px; }

.github {
  background-color: #eeeeee; }
  .github:after {
    background-position: -28px -56px;
    border-color: #d4d4d4;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
  .github:hover {
    background-color: white; }
  .github:active {
    background-color: #d4d4d4; }
  .github.alt:after {
    background-position: 0 -112px; }
  .github.alt2:after {
    background-position: 0 -84px; }

.gplus {
  background-color: #e46044; }
  .gplus:after {
    background-position: 0 -140px;
    border-color: #d63f1f;
    -webkit-box-shadow: inset 0px 1px 2px 0px #f4bfb3;
    box-shadow: inset 0px 1px 2px 0px #f4bfb3; }
  .gplus:hover {
    background-color: #ea8671; }
  .gplus:active {
    background-color: #d63f1f; }

.icheckmovies {
  background-color: #363636; }
  .icheckmovies:after {
    background-position: 0 -476px;
    border-color: #1c1c1c;
    -webkit-box-shadow: inset 0px 1px 2px 0px #767676;
    box-shadow: inset 0px 1px 2px 0px #767676; }
  .icheckmovies:hover {
    background-color: #505050; }
  .icheckmovies:active {
    background-color: #1c1c1c; }

.issuu {
  background-color: #ebebeb; }
  .issuu:after {
    background-position: -28px -168px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
  .issuu:hover {
    background-color: white; }
  .issuu:active {
    background-color: #d2d2d2; }

.lastfm {
  background-color: #e02703; }
  .lastfm:after {
    background-position: 0 -168px;
    border-color: #ae1e02;
    -webkit-box-shadow: inset 0px 1px 2px 0px #fd7e66;
    box-shadow: inset 0px 1px 2px 0px #fd7e66; }
  .lastfm:hover {
    background-color: #fc3f1a; }
  .lastfm:active {
    background-color: #ae1e02; }

.linkedin {
  background-color: #0097bd; }
  .linkedin:after {
    background-position: 0 -196px;
    border-color: #006e8a;
    -webkit-box-shadow: inset 0px 1px 2px 0px #3ed8ff;
    box-shadow: inset 0px 1px 2px 0px #3ed8ff; }
  .linkedin:hover {
    background-color: #00c0f0; }
  .linkedin:active {
    background-color: #006e8a; }

.mail {
  background-color: #e3e9ec; }
  .mail:after {
    background-position: 0 -224px;
    border-color: #c5d1d7;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
  .mail:hover {
    background-color: white; }
  .mail:active {
    background-color: #c5d1d7; }

.myspace {
  background-color: #313246; }
  .myspace:after {
    background-position: -28px -308px;
    border-color: #1c1d28;
    -webkit-box-shadow: inset 0px 1px 2px 0px #656891;
    box-shadow: inset 0px 1px 2px 0px #656891; }
  .myspace:hover {
    background-color: #464764; }
  .myspace:active {
    background-color: #1c1d28; }

.path {
  background-color: #e3432c; }
  .path:after {
    background-position: 0 -252px;
    border-color: #c22f1a;
    -webkit-box-shadow: inset 0px 1px 2px 0px #f2a79d;
    box-shadow: inset 0px 1px 2px 0px #f2a79d; }
  .path:hover {
    background-color: #e96b59; }
  .path:active {
    background-color: #c22f1a; }

.rss {
  background-color: #ff6900; }
  .rss:after {
    background-position: 0 -280px;
    border-color: #cc5400;
    -webkit-box-shadow: inset 0px 1px 2px 0px #ffb480;
    box-shadow: inset 0px 1px 2px 0px #ffb480; }
  .rss:hover {
    background-color: #ff8733; }
  .rss:active {
    background-color: #cc5400; }

.skype {
  background-color: #08a7e3; }
  .skype:after {
    background-position: -28px 0;
    border-color: #0683b2;
    -webkit-box-shadow: inset 0px 1px 2px 0px #71d4fa;
    box-shadow: inset 0px 1px 2px 0px #71d4fa; }
  .skype:hover {
    background-color: #27bef7; }
  .skype:active {
    background-color: #0683b2; }
  .skype.alt:after {
    background-position: -28px -28px; }

.tumblr {
  background-color: #3c5a76; }
  .tumblr:after {
    background-position: 0 -308px;
    border-color: #2b4054;
    -webkit-box-shadow: inset 0px 1px 2px 0px #779aba;
    box-shadow: inset 0px 1px 2px 0px #779aba; }
  .tumblr:hover {
    background-color: #4d7498; }
  .tumblr:active {
    background-color: #2b4054; }

.twitter {
  background-color: #00aced; }
  .twitter:after {
    background-position: 0 -336px;
    border-color: #0087ba;
    -webkit-box-shadow: inset 0px 1px 2px 0px #6ed7ff;
    box-shadow: inset 0px 1px 2px 0px #6ed7ff; }
  .twitter:hover {
    background-color: #21c2ff; }
  .twitter:active {
    background-color: #0087ba; }
  .twitter.alt:after {
    background-position: 0 -364px; }

.vimeo {
  background-color: #5bc8ff; }
  .vimeo:after {
    background-position: 0 -392px;
    border-color: #28b7ff;
    -webkit-box-shadow: inset 0px 1px 2px 0px #dbf3ff;
    box-shadow: inset 0px 1px 2px 0px #dbf3ff; }
  .vimeo:hover {
    background-color: #8ed9ff; }
  .vimeo:active {
    background-color: #28b7ff; }

.wordpress {
  background-color: #ebebeb; }
  .wordpress:after {
    background-position: -28px -196px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
  .wordpress:hover {
    background-color: white; }
  .wordpress:active {
    background-color: #d2d2d2; }

.wordpress-alt {
  background-color: #454342; }
  .wordpress-alt:after {
    background-position: -28px -224px;
    border-color: #2b2a29;
    -webkit-box-shadow: inset 0px 1px 2px 0px #868281;
    box-shadow: inset 0px 1px 2px 0px #868281; }
  .wordpress-alt:hover {
    background-color: #5f5c5b; }
  .wordpress-alt:active {
    background-color: #2b2a29; }

.youtube {
  background-color: #eeeeee; }
  .youtube:after {
    background-position: 0 -420px;
    border-color: #d4d4d4;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
  .youtube:hover {
    background-color: white; }
  .youtube:active {
    background-color: #d4d4d4; }
  .youtube.alt:after {
    background-position: -28px -112px; }

.youtube-alt {
  background-color: #fc3f1a; }
  .youtube-alt:after {
    background-position: 0 -448px;
    border-color: #e02703;
    -webkit-box-shadow: inset 0px 1px 2px 0px #fea998;
    box-shadow: inset 0px 1px 2px 0px #fea998; }
  .youtube-alt:hover {
    background-color: #fd694c; }
  .youtube-alt:active {
    background-color: #e02703; }
