.social-btn {
  background-color: #e3e9ec;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40ffffff', endColorstr='#00ffffff', GradientType=0);
  display: inline-block;
  zoom: 1;
  *display: inline;
  position: relative;
  margin: 2px;
  z-index: 400;
}
.social-btn:before,
.social-btn:after {
  content: "";
  display: block;
  position: relative;
}
.social-btn:before {
  border: solid 2px #fff;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  top: -2px;
  left: -2px;
  z-index: 200;
}
.social-btn:before:hover,
.social-btn:before:focus {
  background-color: #ffffff;
}
.social-btn:before:active {
  background-color: #c5d1d7;
}
.social-btn:after {
  background: url('../img/sprite-rsmb.png') no-repeat;
  border: solid 2px #c5d1d7;
  -webkit-box-shadow: inset 0px 1px 2px 0px #ffffff;
  box-shadow: inset 0px 1px 2px 0px #ffffff;
  width: 28px;
  height: 28px;
  top: -36px;
  z-index: 600;
}
.social-btn.rounded,
.social-btn.rounded:after {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
.social-btn.rounded:before {
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.social-btn,
.social-btn:before {
  width: 32px;
  height: 32px;
}
.social-btn,
.social-btn:before,
.social-btn:after {
  -webkit-border-radius: 18px;
  border-radius: 18px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .social-btn:after {
    background: url('../img/sprite-rsmb-x2.png') no-repeat;
    background-size: 476px;
  }
}
.facebook {
  background-color: #4a6ea9;
}
.facebook:after {
  background-position: 0 0;
  border-color: #3a5786;
  -webkit-box-shadow: inset 0px 1px 2px 0px #9eb3d5;
  box-shadow: inset 0px 1px 2px 0px #9eb3d5;
}
.facebook:hover {
  background-color: #6989bd;
}
.facebook:active {
  background-color: #3a5786;
}
.flickr {
  background-color: #ebebeb;
}
.flickr:after {
  background-position: -28px 0;
  border-color: #d2d2d2;
  -webkit-box-shadow: inset 0px 1px 2px 0px #ffffff;
  box-shadow: inset 0px 1px 2px 0px #ffffff;
}
.flickr:hover {
  background-color: #ffffff;
}
.flickr:active {
  background-color: #d2d2d2;
}
.foursquare {
  background-color: #0086bf;
}
.foursquare:after {
  background-position: -56px 0;
  border-color: #00628c;
  -webkit-box-shadow: inset 0px 1px 2px 0px #40c6ff;
  box-shadow: inset 0px 1px 2px 0px #40c6ff;
}
.foursquare:hover {
  background-color: #00aaf2;
}
.foursquare:active {
  background-color: #00628c;
}
.github,
.github-alt {
  background-color: #eeeeee;
}
.github:after,
.github-alt:after {
  border-color: #d5d5d5;
  -webkit-box-shadow: inset 0px 1px 2px 0px #ffffff;
  box-shadow: inset 0px 1px 2px 0px #ffffff;
}
.github:hover,
.github-alt:hover {
  background-color: #ffffff;
}
.github:active,
.github-alt:active {
  background-color: #d5d5d5;
}
.github:after {
  background-position: -84px 0;
}
.github-alt:after {
  background-position: -112px 0;
}
.gplus {
  background-color: #e46044;
}
.gplus:after {
  background-position: -140px 0;
  border-color: #d63f1f;
  -webkit-box-shadow: inset 0px 1px 2px 0px #f4bfb3;
  box-shadow: inset 0px 1px 2px 0px #f4bfb3;
}
.gplus:hover {
  background-color: #ea8671;
}
.gplus:active {
  background-color: #d63f1f;
}
.lastfm {
  background-color: #e02703;
}
.lastfm:after {
  background-position: -168px 0;
  border-color: #ae1e02;
  -webkit-box-shadow: inset 0px 1px 2px 0px #fd7e66;
  box-shadow: inset 0px 1px 2px 0px #fd7e66;
}
.lastfm:hover {
  background-color: #fc3f1a;
}
.lastfm:active {
  background-color: #ae1e02;
}
.linkedin {
  background-color: #0097bd;
}
.linkedin:after {
  background-position: -196px 0;
  border-color: #006e8a;
  -webkit-box-shadow: inset 0px 1px 2px 0px #3ed8ff;
  box-shadow: inset 0px 1px 2px 0px #3ed8ff;
}
.linkedin:hover {
  background-color: #00c0f0;
}
.linkedin:active {
  background-color: #006e8a;
}
.mail {
  background-color: #e3e9ec;
}
.mail:after {
  background-position: -224px 0;
  border-color: #c5d1d7;
  -webkit-box-shadow: inset 0px 1px 2px 0px #ffffff;
  box-shadow: inset 0px 1px 2px 0px #ffffff;
}
.mail:hover {
  background-color: #ffffff;
}
.mail:active {
  background-color: #c5d1d7;
}
.path {
  background-color: #e3432c;
}
.path:after {
  background-position: -252px 0;
  border-color: #c22f1a;
  -webkit-box-shadow: inset 0px 1px 2px 0px #f2a79d;
  box-shadow: inset 0px 1px 2px 0px #f2a79d;
}
.path:hover {
  background-color: #e96b59;
}
.path:active {
  background-color: #c22f1a;
}
.rss {
  background-color: #ff6900;
}
.rss:after {
  background-position: -280px 0;
  border-color: #cc5400;
  -webkit-box-shadow: inset 0px 1px 2px 0px #ffb480;
  box-shadow: inset 0px 1px 2px 0px #ffb480;
}
.rss:hover {
  background-color: #ff8733;
}
.rss:active {
  background-color: #cc5400;
}
.tumblr {
  background-color: #3c5a76;
}
.tumblr:after {
  background-position: -308px 0;
  border-color: #2b4054;
  -webkit-box-shadow: inset 0px 1px 2px 0px #779aba;
  box-shadow: inset 0px 1px 2px 0px #779aba;
}
.tumblr:hover {
  background-color: #4d7498;
}
.tumblr:active {
  background-color: #2b4054;
}
.twitter,
.twitter-alt {
  background-color: #00aced;
}
.twitter:after,
.twitter-alt:after {
  border-color: #0087ba;
  -webkit-box-shadow: inset 0px 1px 2px 0px #6ed7ff;
  box-shadow: inset 0px 1px 2px 0px #6ed7ff;
}
.twitter:hover,
.twitter-alt:hover {
  background-color: #21c2ff;
}
.twitter:active,
.twitter-alt:active {
  background-color: #0087ba;
}
.twitter:after {
  background-position: -336px 0;
}
.twitter-alt:after {
  background-position: -364px 0;
}
.vimeo {
  background-color: #5bc8ff;
}
.vimeo:after {
  background-position: -392px 0;
  border-color: #28b7ff;
  -webkit-box-shadow: inset 0px 1px 2px 0px #dbf3ff;
  box-shadow: inset 0px 1px 2px 0px #dbf3ff;
}
.vimeo:hover {
  background-color: #8ed9ff;
}
.vimeo:active {
  background-color: #28b7ff;
}
.youtube {
  background-color: #eeeeee;
}
.youtube:after {
  background-position: -420px 0;
  border-color: #d5d5d5;
  -webkit-box-shadow: inset 0px 1px 2px 0px #ffffff;
  box-shadow: inset 0px 1px 2px 0px #ffffff;
}
.youtube:hover {
  background-color: #ffffff;
}
.youtube:active {
  background-color: #d5d5d5;
}
.youtube-alt {
  background-color: #fc3f1a;
}
.youtube-alt:after {
  background-position: -448px 0;
  border-color: #e02703;
  -webkit-box-shadow: inset 0px 1px 2px 0px #fea998;
  box-shadow: inset 0px 1px 2px 0px #fea998;
}
.youtube-alt:hover {
  background-color: #fd694c;
}
.youtube-alt:active {
  background-color: #e02703;
}
