@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000345}}
.social-btn {
  background-color: #e3e9ec;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.25)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#40ffffff', endColorstr='#00ffffff', GradientType=0 );
  content: '';
  cursor: pointer;
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
  display: inline-block;
  position: relative;
  margin: 2px;
  z-index: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000362}}
  .social-btn:hover, .social-btn:focus {
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000363}}
  .social-btn:active {
    background-color: #c5d1d7; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000365}}
  .social-btn:before, .social-btn:after {
    content: "";
    display: block;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000370}}
  .social-btn:before {
    border: solid 2px #fff;
    -webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
    top: -2px;
    left: -2px;
    z-index: 200; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000377}}
  .social-btn:after {
    background: url("../img/sprite-rsmb.png") no-repeat;
    border: solid 2px #c5d1d7;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white;
    width: 28px;
    height: 28px;
    top: -36px;
    z-index: 600; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000387}}
  .social-btn.rounded, .social-btn.rounded:after {
    -webkit-border-radius: 8px;
    border-radius: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000388}}
  .social-btn.rounded:before {
    -webkit-border-radius: 10px;
    border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000391}}
.social-btn, .social-btn:before {
  width: 32px;
  height: 32px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000392}}
.social-btn, .social-btn:before, .social-btn:after {
  -webkit-border-radius: 18px;
  border-radius: 18px; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\.scss}line{font-family:\0000399}}
  .social-btn:after {
    background: url("../img/sprite-rsmb-x2.png") no-repeat;
    -webkit-background-size: 56px;
    -moz-background-size: 56px;
    background-size: 56px; } }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/drupal\.scss}line{font-family:\0000312}}
.drupal {
  background-color: #ebebeb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/drupal\.scss}line{font-family:\0000315}}
  .drupal:after {
    background-position: -28px -252px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/drupal\.scss}line{font-family:\0000320}}
  .drupal:hover, .drupal:focus {
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/drupal\.scss}line{font-family:\0000321}}
  .drupal:active {
    background-color: #d2d2d2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/drupal\.scss}line{font-family:\0000328}}
.drupal-alt {
  background-color: #0077c0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/drupal\.scss}line{font-family:\0000331}}
  .drupal-alt:after {
    background-position: -28px -280px;
    border-color: #00578d;
    -webkit-box-shadow: inset 0px 1px 2px 0px #41b7ff;
    box-shadow: inset 0px 1px 2px 0px #41b7ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/drupal\.scss}line{font-family:\0000336}}
  .drupal-alt:hover, .drupal-alt:focus {
    background-color: #0097f3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/drupal\.scss}line{font-family:\0000337}}
  .drupal-alt:active {
    background-color: #00578d; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/facebook\.scss}line{font-family:\0000311}}
.facebook {
  background-color: #4a6ea9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/facebook\.scss}line{font-family:\0000314}}
  .facebook:after {
    background-position: 0 0;
    border-color: #3a5786;
    -webkit-box-shadow: inset 0px 1px 2px 0px #9eb3d5;
    box-shadow: inset 0px 1px 2px 0px #9eb3d5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/facebook\.scss}line{font-family:\0000319}}
  .facebook:hover, .facebook:focus {
    background-color: #6989bd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/facebook\.scss}line{font-family:\0000320}}
  .facebook:active {
    background-color: #3a5786; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/facebook\.scss}line{font-family:\0000322}}
  .facebook.alt:after {
    background-position: -28px -84px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/flickr\.scss}line{font-family:\0000311}}
.flickr {
  background-color: #ebebeb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/flickr\.scss}line{font-family:\0000314}}
  .flickr:after {
    background-position: 0 -28px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/flickr\.scss}line{font-family:\0000319}}
  .flickr:hover, .flickr:focus {
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/flickr\.scss}line{font-family:\0000320}}
  .flickr:active {
    background-color: #d2d2d2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/foursquare\.scss}line{font-family:\0000311}}
.foursquare {
  background-color: #0086bf; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/foursquare\.scss}line{font-family:\0000314}}
  .foursquare:after {
    background-position: 0 -56px;
    border-color: #00628c;
    -webkit-box-shadow: inset 0px 1px 2px 0px #40c6ff;
    box-shadow: inset 0px 1px 2px 0px #40c6ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/foursquare\.scss}line{font-family:\0000319}}
  .foursquare:hover, .foursquare:focus {
    background-color: #00aaf2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/foursquare\.scss}line{font-family:\0000320}}
  .foursquare:active {
    background-color: #00628c; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/foursquare\.scss}line{font-family:\0000322}}
  .foursquare.alt:after {
    background-position: -28px -140px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/github\.scss}line{font-family:\0000311}}
.github {
  background-color: #eeeeee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/github\.scss}line{font-family:\0000314}}
  .github:after {
    background-position: -28px -56px;
    border-color: #d4d4d4;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/github\.scss}line{font-family:\0000319}}
  .github:hover, .github:focus {
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/github\.scss}line{font-family:\0000320}}
  .github:active {
    background-color: #d4d4d4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/github\.scss}line{font-family:\0000322}}
  .github.alt:after {
    background-position: 0 -112px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/github\.scss}line{font-family:\0000323}}
  .github.alt2:after {
    background-position: 0 -84px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/gplus\.scss}line{font-family:\0000311}}
.gplus {
  background-color: #e46044; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/gplus\.scss}line{font-family:\0000314}}
  .gplus:after {
    background-position: 0 -140px;
    border-color: #d63f1f;
    -webkit-box-shadow: inset 0px 1px 2px 0px #f4bfb3;
    box-shadow: inset 0px 1px 2px 0px #f4bfb3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/gplus\.scss}line{font-family:\0000319}}
  .gplus:hover, .gplus:focus {
    background-color: #ea8671; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/gplus\.scss}line{font-family:\0000320}}
  .gplus:active {
    background-color: #d63f1f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/icheckmovies\.scss}line{font-family:\0000311}}
.icheckmovies {
  background-color: #363636; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/icheckmovies\.scss}line{font-family:\0000314}}
  .icheckmovies:after {
    background-position: 0 -476px;
    border-color: #1c1c1c;
    -webkit-box-shadow: inset 0px 1px 2px 0px #767676;
    box-shadow: inset 0px 1px 2px 0px #767676; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/icheckmovies\.scss}line{font-family:\0000319}}
  .icheckmovies:hover, .icheckmovies:focus {
    background-color: #505050; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/icheckmovies\.scss}line{font-family:\0000320}}
  .icheckmovies:active {
    background-color: #1c1c1c; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000312}}
.instagram {
  background-color: #a17c69; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000315}}
  .instagram:after {
    background-position: -28px -392px;
    border-color: #846453;
    -webkit-box-shadow: inset 0px 1px 2px 0px #d2c0b7;
    box-shadow: inset 0px 1px 2px 0px #d2c0b7; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000320}}
  .instagram:hover, .instagram:focus {
    background-color: #b59788; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000321}}
  .instagram:active {
    background-color: #846453; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000329}}
.instagram-alt {
  background-color: #517fa4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000332}}
  .instagram-alt:after {
    background-position: -28px -364px;
    border-color: #406582;
    -webkit-box-shadow: inset 0px 1px 2px 0px #a3bdd2;
    box-shadow: inset 0px 1px 2px 0px #a3bdd2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000337}}
  .instagram-alt:hover, .instagram-alt:focus {
    background-color: #7098b8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000338}}
  .instagram-alt:active {
    background-color: #406582; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/instagram\.scss}line{font-family:\0000340}}
  .instagram-alt.alt:after {
    background-position: -28px -420px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/issuu\.scss}line{font-family:\0000311}}
.issuu {
  background-color: #ebebeb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/issuu\.scss}line{font-family:\0000314}}
  .issuu:after {
    background-position: -28px -168px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/issuu\.scss}line{font-family:\0000319}}
  .issuu:hover, .issuu:focus {
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/issuu\.scss}line{font-family:\0000320}}
  .issuu:active {
    background-color: #d2d2d2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/lastfm\.scss}line{font-family:\0000311}}
.lastfm {
  background-color: #e02703; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/lastfm\.scss}line{font-family:\0000314}}
  .lastfm:after {
    background-position: 0 -168px;
    border-color: #ae1e02;
    -webkit-box-shadow: inset 0px 1px 2px 0px #fd7e66;
    box-shadow: inset 0px 1px 2px 0px #fd7e66; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/lastfm\.scss}line{font-family:\0000319}}
  .lastfm:hover, .lastfm:focus {
    background-color: #fc3f1a; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/lastfm\.scss}line{font-family:\0000320}}
  .lastfm:active {
    background-color: #ae1e02; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/linkedin\.scss}line{font-family:\0000311}}
.linkedin {
  background-color: #0097bd; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/linkedin\.scss}line{font-family:\0000314}}
  .linkedin:after {
    background-position: 0 -196px;
    border-color: #006e8a;
    -webkit-box-shadow: inset 0px 1px 2px 0px #3ed8ff;
    box-shadow: inset 0px 1px 2px 0px #3ed8ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/linkedin\.scss}line{font-family:\0000319}}
  .linkedin:hover, .linkedin:focus {
    background-color: #00c0f0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/linkedin\.scss}line{font-family:\0000320}}
  .linkedin:active {
    background-color: #006e8a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/mail\.scss}line{font-family:\0000311}}
.mail {
  background-color: #ebebeb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/mail\.scss}line{font-family:\0000314}}
  .mail:after {
    background-position: 0 -224px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/mail\.scss}line{font-family:\0000319}}
  .mail:hover, .mail:focus {
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/mail\.scss}line{font-family:\0000320}}
  .mail:active {
    background-color: #d2d2d2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/mail\.scss}line{font-family:\0000322}}
  .mail.alt:after {
    background-position: -28px -448px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/myspace\.scss}line{font-family:\0000311}}
.myspace {
  background-color: #313246; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/myspace\.scss}line{font-family:\0000314}}
  .myspace:after {
    background-position: -28px -308px;
    border-color: #1c1d28;
    -webkit-box-shadow: inset 0px 1px 2px 0px #656891;
    box-shadow: inset 0px 1px 2px 0px #656891; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/myspace\.scss}line{font-family:\0000319}}
  .myspace:hover, .myspace:focus {
    background-color: #464764; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/myspace\.scss}line{font-family:\0000320}}
  .myspace:active {
    background-color: #1c1d28; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/path\.scss}line{font-family:\0000311}}
.path {
  background-color: #e3432c; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/path\.scss}line{font-family:\0000314}}
  .path:after {
    background-position: 0 -252px;
    border-color: #c22f1a;
    -webkit-box-shadow: inset 0px 1px 2px 0px #f2a79d;
    box-shadow: inset 0px 1px 2px 0px #f2a79d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/path\.scss}line{font-family:\0000319}}
  .path:hover, .path:focus {
    background-color: #e96b59; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/path\.scss}line{font-family:\0000320}}
  .path:active {
    background-color: #c22f1a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/pinterest\.scss}line{font-family:\0000312}}
.pinterest {
  background-color: #c91517; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/pinterest\.scss}line{font-family:\0000315}}
  .pinterest:after {
    background-position: -28px -336px;
    border-color: #9b1012;
    -webkit-box-shadow: inset 0px 1px 2px 0px #f06e6f;
    box-shadow: inset 0px 1px 2px 0px #f06e6f; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/pinterest\.scss}line{font-family:\0000320}}
  .pinterest:hover, .pinterest:focus {
    background-color: #e9282b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/pinterest\.scss}line{font-family:\0000321}}
  .pinterest:active {
    background-color: #9b1012; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/pinterest\.scss}line{font-family:\0000328}}
.pinterest-alt {
  background-color: #333333; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/pinterest\.scss}line{font-family:\0000331}}
  .pinterest-alt:after {
    background-position: -28px -336px;
    border-color: #1a1a1a;
    -webkit-box-shadow: inset 0px 1px 2px 0px #737373;
    box-shadow: inset 0px 1px 2px 0px #737373; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/pinterest\.scss}line{font-family:\0000336}}
  .pinterest-alt:hover, .pinterest-alt:focus {
    background-color: #4d4d4d; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/pinterest\.scss}line{font-family:\0000337}}
  .pinterest-alt:active {
    background-color: #1a1a1a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/rss\.scss}line{font-family:\0000311}}
.rss {
  background-color: #ff6900; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/rss\.scss}line{font-family:\0000314}}
  .rss:after {
    background-position: 0 -280px;
    border-color: #cc5400;
    -webkit-box-shadow: inset 0px 1px 2px 0px #ffb480;
    box-shadow: inset 0px 1px 2px 0px #ffb480; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/rss\.scss}line{font-family:\0000319}}
  .rss:hover, .rss:focus {
    background-color: #ff8733; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/rss\.scss}line{font-family:\0000320}}
  .rss:active {
    background-color: #cc5400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/skype\.scss}line{font-family:\0000311}}
.skype {
  background-color: #08a7e3; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/skype\.scss}line{font-family:\0000314}}
  .skype:after {
    background-position: -28px 0;
    border-color: #0683b2;
    -webkit-box-shadow: inset 0px 1px 2px 0px #71d4fa;
    box-shadow: inset 0px 1px 2px 0px #71d4fa; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/skype\.scss}line{font-family:\0000319}}
  .skype:hover, .skype:focus {
    background-color: #27bef7; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/skype\.scss}line{font-family:\0000320}}
  .skype:active {
    background-color: #0683b2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/skype\.scss}line{font-family:\0000322}}
  .skype.alt:after {
    background-position: -28px -28px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/tumblr\.scss}line{font-family:\0000311}}
.tumblr {
  background-color: #3c5a76; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/tumblr\.scss}line{font-family:\0000314}}
  .tumblr:after {
    background-position: 0 -308px;
    border-color: #2b4054;
    -webkit-box-shadow: inset 0px 1px 2px 0px #779aba;
    box-shadow: inset 0px 1px 2px 0px #779aba; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/tumblr\.scss}line{font-family:\0000319}}
  .tumblr:hover, .tumblr:focus {
    background-color: #4d7498; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/tumblr\.scss}line{font-family:\0000320}}
  .tumblr:active {
    background-color: #2b4054; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/twitter\.scss}line{font-family:\0000311}}
.twitter {
  background-color: #00aced; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/twitter\.scss}line{font-family:\0000314}}
  .twitter:after {
    background-position: 0 -336px;
    border-color: #0087ba;
    -webkit-box-shadow: inset 0px 1px 2px 0px #6ed7ff;
    box-shadow: inset 0px 1px 2px 0px #6ed7ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/twitter\.scss}line{font-family:\0000319}}
  .twitter:hover, .twitter:focus {
    background-color: #21c2ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/twitter\.scss}line{font-family:\0000320}}
  .twitter:active {
    background-color: #0087ba; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/twitter\.scss}line{font-family:\0000322}}
  .twitter.alt:after {
    background-position: 0 -364px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/vimeo\.scss}line{font-family:\0000311}}
.vimeo {
  background-color: #5bc8ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/vimeo\.scss}line{font-family:\0000314}}
  .vimeo:after {
    background-position: 0 -392px;
    border-color: #28b7ff;
    -webkit-box-shadow: inset 0px 1px 2px 0px #dbf3ff;
    box-shadow: inset 0px 1px 2px 0px #dbf3ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/vimeo\.scss}line{font-family:\0000319}}
  .vimeo:hover, .vimeo:focus {
    background-color: #8ed9ff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/vimeo\.scss}line{font-family:\0000320}}
  .vimeo:active {
    background-color: #28b7ff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/wordpress\.scss}line{font-family:\0000312}}
.wordpress {
  background-color: #ebebeb; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/wordpress\.scss}line{font-family:\0000315}}
  .wordpress:after {
    background-position: -28px -196px;
    border-color: #d2d2d2;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/wordpress\.scss}line{font-family:\0000320}}
  .wordpress:hover, .wordpress:focus {
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/wordpress\.scss}line{font-family:\0000321}}
  .wordpress:active {
    background-color: #d2d2d2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/wordpress\.scss}line{font-family:\0000328}}
.wordpress-alt {
  background-color: #454342; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/wordpress\.scss}line{font-family:\0000331}}
  .wordpress-alt:after {
    background-position: -28px -224px;
    border-color: #2b2a29;
    -webkit-box-shadow: inset 0px 1px 2px 0px #868281;
    box-shadow: inset 0px 1px 2px 0px #868281; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/wordpress\.scss}line{font-family:\0000336}}
  .wordpress-alt:hover, .wordpress-alt:focus {
    background-color: #5f5c5b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/wordpress\.scss}line{font-family:\0000337}}
  .wordpress-alt:active {
    background-color: #2b2a29; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000312}}
.youtube {
  background-color: #eeeeee; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000315}}
  .youtube:after {
    background-position: 0 -420px;
    border-color: #d4d4d4;
    -webkit-box-shadow: inset 0px 1px 2px 0px white;
    box-shadow: inset 0px 1px 2px 0px white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000320}}
  .youtube:hover, .youtube:focus {
    background-color: white; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000321}}
  .youtube:active {
    background-color: #d4d4d4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000323}}
  .youtube.alt:after {
    background-position: -28px -112px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000330}}
.youtube-alt {
  background-color: #fc3f1a; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000333}}
  .youtube-alt:after {
    background-position: 0 -448px;
    border-color: #e02703;
    -webkit-box-shadow: inset 0px 1px 2px 0px #fea998;
    box-shadow: inset 0px 1px 2px 0px #fea998; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000338}}
  .youtube-alt:hover, .youtube-alt:focus {
    background-color: #fd694c; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/timhuisman\/Sites\/round-social-media-buttons\/scss\/social-buttons\/youtube\.scss}line{font-family:\0000339}}
  .youtube-alt:active {
    background-color: #e02703; }
