//
// Mixins
// ------------------------------------------------------------------------------------

@import 'mixins.scss';

//
// Variables
// ------------------------------------------------------------------------------------

$img-path: "../img"; // Path to the folder where the sprites are stored
$button-list: ();
$button-alt-list: ();

$btn-size: 28px;

// Percentages by which the base color of the icon will be made lighter/darker
$diff-large: 25%; // Used for: color of the inner shadow
$diff-medium: 17.5%; // Used for: border color in hover, focus & active state
$diff-small: 10%; // Used for: background color in hover, focus & active state

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! //
// Set option to 'false' for button styles/types that you don't use, to keep the compiled CSS small. //
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! //

// Variables can be used to turn on/off button types: one of the two must always be true
$default: true;
$flat:    true;
// Variables can be used to turn on/off button styles
$border:  true;
$rounded: true;
$round:   true;
// Variables can be used to turn on/off button style for certain type of elements
$anchors: true; // <a> elements
$buttons: true; // <button> elements

//
// Styling
// ------------------------------------------------------------------------------------

.csmb, .csmb-flat {
  background-image: url('#{$img-path}/sprite-rsmb.png');
  background-repeat: no-repeat;
  @include transition( background-color 0.25s ease );
  @include text-indent;
  display: inline-block;
  width: $btn-size;
  height: $btn-size;
  margin: 4px;
  padding: 0;
  position: relative;
  z-index: 200;

  &:before, &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
      top: 0;
      left: 0;
  }

  &:before {
    z-index: 100;
  }

  &:after {
    z-index: 300;
  }

  // Use larger sprite (2 x 28pixels) for Retina display
  @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
    background-image: url('#{$img-path}/sprite-rsmb-x2.png');
    @include background-size( 84px );
  }
}

@if $buttons == true {
  button {
    &.csmb, &.csmb-flat {
      @include appearance( none );
      border: none;
      cursor: pointer;
      padding: 0;
    }
  }
}

// Default
@if $default == true {
  .csmb {
    &:before {
      @include box-shadow( 0 0 4px 0 rgba( 0, 0, 0, 0.25 ) );
    }

    &:after {
      @include linear-gradient-top-to-bottom( 0%, rgba( 255, 255, 255, 0.25 ), 100%, rgba( 255, 255, 255, 0 ) );
    }
  }
}

// Flat
@if $flat == true {
  .csmb-flat {
    &:before {
      @include box-shadow( 0 0 1px 0 rgba( 0, 0, 0, 0.25 ) );
    }
  }
}

// Rounded
@if $rounded == true {
  .csmb-rounded, .csmb-rounded:before, .csmb-rounded:after {
    @include border-radius( 25% );
  }
}

// Round
@if $round == true {
  .csmb-round, .csmb-round:before, .csmb-round:after {
    @include border-radius( 50% );
  }
}

// Bordered
@if $border == true {
  .csmb-border {
    &:before {
      border: solid 2px #fff;
      width: ($btn-size + 4);
      height: ($btn-size + 4);
      top: -4px;
      left: -4px;
    }

    &:after {
      @include transition( border-color 0.25s ease );
      top: -2px;
      left: -2px;
    }

    @if $rounded == true {
      &.csmb-rounded {
        @include border-radius( 20% );
      }
    }
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! //
// Remove/Comment out the buttons below that you don't use, to keep the compiled CSS small. //
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! //

$button-list: append($button-list, ('.bitbucket', #205081, -56px -84px ));
$button-list: append($button-list, ('.blogger', #FC4F08, -56px -168px ));
$button-list: append($button-list, ('.chrome', #F4F4F4, -56px -280px ));
$button-list: append($button-list, ('.delicious', #EEE, -56px -196px ));
$button-list: append($button-list, ('.deviantart', #4E6252, -28px -28px ));
$button-list: append($button-list, ('.digg', #383838, -56px -224px ));
$button-list: append($button-list, ('.dropbox', #3D9AE8, -28px -364px ));
$button-list: append($button-list, ('.drupal', #F4F4F4, -28px -252px ));
$button-list: append($button-list, ('.facebook', #3B5998, 0 0 ));
$button-alt-list: append($button-alt-list, ('.facebook.alt', -28px -84px ));
$button-list: append($button-list, ('.firefox', #CAE1f4 , -56px -308px ));
$button-list: append($button-list, ('.flickr', #F4F4F4, 0 -28px ));
$button-list: append($button-list, ('.foursquare', #25a0ca, 0 -56px ));
$button-alt-list: append($button-alt-list, ('.foursquare.alt', -28px -140px ));
$button-list: append($button-list, ('.github', #F4F4F4, 0 -84px ));
$button-alt-list: append($button-alt-list, ('.github.alt', 0 -112px ));
$button-list: append($button-list, ('.github-alt', #383838, -56px 0 ));
$button-list: append($button-list, ('.gplus', #DD4B39, 0 -140px ));
$button-list: append($button-list, ('.grooveshark', #F77F00, -56px -56px ));
$button-list: append($button-list, ('.icheckmovies', #383838, 0 -476px ));
$button-list: append($button-list, ('.ie', #00BCF2, -56px -392px ));
$button-list: append($button-list, ('.imdb', #F3CE13, -56px -140px ));
$button-list: append($button-list, ('.instagram', #937266, -28px -392px ));
$button-list: append($button-list, ('.instagram-alt', #3F729B, -28px -420px ));
$button-list: append($button-list, ('.issuu', #F4F4F4, -28px -168px ));
$button-list: append($button-list, ('.lastfm', #C3000D, 0 -168px ));
$button-list: append($button-list, ('.linkedin', #0E76A8, 0 -196px ));
$button-list: append($button-list, ('.mail', #F4F4F4, 0 -224px ));
$button-list: append($button-list, ('.myspace', #313246, -28px -308px ));
$button-list: append($button-list, ('.opera', #F4F4F4, -56px -336px ));
$button-list: append($button-list, ('.path', #E41F11, 0 -252px ));
$button-list: append($button-list, ('.paypal', #1E477A, -28px -280px ));
$button-list: append($button-list, ('.pinterest', #C8232C, -28px -336px )); // Black BG color: #383838
$button-list: append($button-list, ('.reddit', #CEE2F8, -56px -252px ));
$button-list: append($button-list, ('.rss', #EE802F, 0 -280px ));
$button-list: append($button-list, ('.safari', #F4F4F4, -56px -364px ));
$button-list: append($button-list, ('.skype', #00AFF0, -28px 0 ));
$button-list: append($button-list, ('.soundcloud', #FF7700, -28px -112px ));
$button-list: append($button-list, ('.spotify', #81B71A, -28px -196px ));
$button-list: append($button-list, ('.stumbleupon', #F74425, -28px -56px ));
$button-list: append($button-list, ('.tumblr', #34526F, 0 -308px ));
$button-list: append($button-list, ('.twitter', #00ACEE, 0 -336px ));
$button-alt-list: append($button-alt-list, ('.twitter.alt', 0 -364px ));
$button-list: append($button-list, ('.vimeo', #86C9EF, 0 -392px ));
$button-list: append($button-list, ('.vine', #00A478, -56px -28px ));
$button-list: append($button-list, ('.wordpress', #21759B, -28px -224px )); // Grey BG color: #464646
$button-list: append($button-list, ('.yelp', #C41200, -56px -112px ));
$button-list: append($button-list, ('.youtube', #F4F4F4, 0 -420px ));
$button-list: append($button-list, ('.youtube-alt', #C4302B, 0 -448px ));
$button-alt-list: append($button-alt-list, ('.youtube-alt.alt', -28px -476px ));

// Base buttons
@if length($button-list) > 0 { // Only loop if list has items to avoid compile errors
  @each $button in $button-list {
    $color: nth($button, 2);

    #{nth($button, 1)} {
      background-color: $color;
      background-position: nth($button, 3);

      // Default
      @if $default == true {
        &.csmb {
          @include box-shadow( inset 0 1px 2px 0 lighten( $color, $diff-large ) );
        }
      }

      // Bordered
      @if $border == true {
        &.csmb-border {
          &:after {
            border: solid 2px darken( $color, $diff-small );
          }
        }
      }
    }

    @if $anchors == true or $buttons == true {
      a, button {
        &#{nth($button, 1)} {
          &:hover, &:focus {
            background-color: lighten( $color, $diff-small );
          }

          &:active {
            background-color: darken( $color, $diff-small );
          }

          // Bordered
          @if $border == true {
            &.csmb-border {
              &:hover, &:focus, &:active {
                &:after {
                  border: solid 2px darken( $color, $diff-medium );
                }
              }
            }
          }
        }
      }
    }
  }
}

// Alternative buttons
@if length($button-alt-list) > 0 { // Only loop if list has items to avoid compile errors
  @each $button-alt in $button-alt-list {
    #{nth($button-alt, 1)} {
      background-position: nth($button-alt, 2);
    }
  }
}