//
// MIXINS
// ------------------------------------------------------------------------------------

@mixin box-shadow ( $arguments ) {
  -webkit-box-shadow: $arguments;
  box-shadow: $arguments;
}

@mixin border-radius ( $radius ) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

@mixin inline-block {
  display:inline-block;
  zoom:1;
  *display:inline;
}

//
// VARIABLES
// ------------------------------------------------------------------------------------

$image-path: "../img"; // Path to the folder where the sprites are stored

$btn-size: 32px;

$radius-rounded: 8px;
$radius-round: ( $btn-size + 4 ) / 2;

$color-default: #e3e9ec;

// Percentages by which the base color of the icon will be made lighter/darker
$diff-lighter: 25%; // Used for: color of the inner shadow
$diff-lighter-hover: 10%; // Used for: background color of icon in hover state
$diff-darker: 10%; // Used for: background color of icon in active state

//
// BASE STYLE
// ------------------------------------------------------------------------------------

.social-btn {
  background-color: $color-default;
  background: -moz-linear-gradient(top,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba( 255,255,255,0.25 ) ), color-stop( 100%, rgba( 255,255,255,0 ) ) );
  background: -webkit-linear-gradient(top,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
  background: -o-linear-gradient(top,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
  background: -ms-linear-gradient(top,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
  background: linear-gradient(to bottom,  rgba( 255,255,255,0.25 ) 0%, rgba( 255,255,255,0 ) 100% );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40ffffff', endColorstr='#00ffffff', GradientType=0 );
  cursor: pointer;
  @include inline-block();
  position: relative;
  margin: 2px;
  z-index: 400;
  
  &:before, &:after {
    content: "";
    display: block;
    position: relative;
  }

  &:before {
    border: solid 2px #fff;
    @include box-shadow( 0px 0px 4px 1px rgba( 0, 0, 0, 0.25 ) );
    top: -2px;
    left: -2px;
    z-index: 200;
    
    &:hover, &:focus { background-color: lighten( $color-default, $diff-lighter-hover ); }
    &:active { background-color: darken( $color-default, $diff-darker ); }
  }
  &:after {
    background: url('#{$image-path}/sprite-rsmb.png') no-repeat;
    border: solid 2px darken( $color-default, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-default, $diff-lighter ) );
    width: ( $btn-size - 4 );
    height: ( $btn-size - 4 );
    top: 0 - ( $btn-size + 4 );
    z-index: 600;
  }
  
  &.rounded, &.rounded:after { @include border-radius( $radius-rounded ); }
  &.rounded:before { @include border-radius( $radius-rounded + 2 ); }
}

.social-btn, .social-btn:before { width: $btn-size; height: $btn-size; }
.social-btn, .social-btn:before, .social-btn:after { @include border-radius( $radius-round ); }

// Use larger sprite (2 x 28pixels) for Retina display
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .social-btn:after {
    background: url('#{$image-path}/sprite-rsmb-x2.png') no-repeat;
    background-size: 56px;
  }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! //
// To keep the CSS file small it is recommended to comment out/remove the files below that won't be used //
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! //

@import "social-buttons/facebook";
@import "social-buttons/flickr";
@import "social-buttons/foursquare";
@import "social-buttons/github";
@import "social-buttons/gplus";
@import "social-buttons/icheckmovies";
@import "social-buttons/lastfm";
@import "social-buttons/linkedin";
@import "social-buttons/mail";
@import "social-buttons/path";
@import "social-buttons/rss";
@import "social-buttons/skype";
@import "social-buttons/tumblr";
@import "social-buttons/twitter";
@import "social-buttons/vimeo";
@import "social-buttons/youtube";