//
// VARIABLES
// ------------------------------------------------------------------------------------

@color-skype: #08a7e3;

//
// SKYPE BUTTON STYLE
// ------------------------------------------------------------------------------------

.skype {
  background-color: @color-skype;

  &:after {
    background-position: -28px 0;
    border-color: darken( @color-skype, @diff-darker );
    .box-shadow( inset 0px 1px 2px 0px lighten( @color-skype, @diff-lighter ) );
  }
  &:hover, &:focus { background-color: lighten( @color-skype, @diff-lighter-hover ); }
  &:active { background-color: darken( @color-skype, @diff-darker ); }

  &.alt:after { background-position: -28px -28px; }
}