//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-drupal: #ebebeb;
$color-drupal-alt: #0077c0;

//
// DRUPAL BUTTON STYLE
// ------------------------------------------------------------------------------------

.drupal {
  background-color: $color-drupal;

  &:after {
    background-position: -28px -252px;
    border-color: darken( $color-drupal, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-drupal, $diff-lighter ) );
  }
  &:hover { background-color: lighten( $color-drupal, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-drupal, $diff-darker ); }
}

//
// DRUPAL (ALTERNATIVE) BUTTON STYLE
// ------------------------------------------------------------------------------------

.drupal-alt {
  background-color: $color-drupal-alt;

  &:after {
    background-position: -28px -280px;
    border-color: darken( $color-drupal-alt, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-drupal-alt, $diff-lighter ) );
  }
  &:hover { background-color: lighten( $color-drupal-alt, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-drupal-alt, $diff-darker ); }
}