//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-flickr: #ebebeb;

//
// FLICKR BUTTON STYLE
// ------------------------------------------------------------------------------------

.flickr {
  background-color: $color-flickr;

  &:after {
    background-position: 0 -28px;
    border-color: darken( $color-flickr, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-flickr, $diff-lighter ) );
  }
  &:hover, &:focus { background-color: lighten( $color-flickr, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-flickr, $diff-darker ); }
}