//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-github: #eee;

//
// GITHUB (ALTERNATIVE) BUTTON STYLE
// ------------------------------------------------------------------------------------

.github, .github-alt, .github-alt2 {
  background-color: $color-github;

  &:after {
    border-color: darken( $color-github, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-github, $diff-lighter ) );
  }
  &:hover { background-color: lighten( $color-github, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-github, $diff-darker ); }
}

.github:after { background-position: 0 -84px; }
.github-alt:after { background-position: 0 -112px; }
.github-alt2:after { background-position: -28px -56px; }