//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-icheckmovies: #363636;

//
// ICHECKMOVIES BUTTON STYLE
// ------------------------------------------------------------------------------------

.icheckmovies {
  background-color: $color-icheckmovies;

  &:after {
    background-position: 0 -476px;
    border-color: darken( $color-icheckmovies, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-icheckmovies, $diff-lighter ) );
  }
  &:hover, &:focus { background-color: lighten( $color-icheckmovies, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-icheckmovies, $diff-darker ); }
}