//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-instagram: #517fa4;
$color-instagram-alt: #a17c69;

//
// INSTAGRAM BUTTON STYLE
// ------------------------------------------------------------------------------------

.instagram {
  background-color: $color-instagram;

  &:after {
    background-position: -28px -364px;
    border-color: darken( $color-instagram, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-instagram, $diff-lighter ) );
  }
  &:hover, &:focus { background-color: lighten( $color-instagram, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-instagram, $diff-darker ); }

  &.alt:after { background-position: -28px -420px; }
}

//
// INSTAGRAM (ALTERNATIVE) BUTTON STYLE
// ------------------------------------------------------------------------------------

.instagram-alt {
  background-color: $color-instagram-alt;

  &:after {
    background-position: -28px -392px;
    border-color: darken( $color-instagram-alt, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-instagram-alt, $diff-lighter ) );
  }
  &:hover, &:focus { background-color: lighten( $color-instagram-alt, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-instagram-alt, $diff-darker ); }
}