//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-lastfm: #e02703;

//
// LAST.FM BUTTON STYLE
// ------------------------------------------------------------------------------------

.lastfm {
  background-color: $color-lastfm;

  &:after {
    background-position: 0 -168px;
    border-color: darken( $color-lastfm, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-lastfm, $diff-lighter ) );
  }
  &:hover { background-color: lighten( $color-lastfm, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-lastfm, $diff-darker ); }
}