//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-linkedin: #0097bd;

//
// LINKEDIN BUTTON STYLE
// ------------------------------------------------------------------------------------

.linkedin {
  background-color: $color-linkedin;

  &:after {
    background-position: 0 -196px;
    border-color: darken( $color-linkedin, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-linkedin, $diff-lighter ) );
  }
  &:hover { background-color: lighten( $color-linkedin, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-linkedin, $diff-darker ); }
}