//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-path: #e3432c;

//
// PATH BUTTON STYLE
// ------------------------------------------------------------------------------------

.path {
  background-color: $color-path;

  &:after {
    background-position: 0 -252px;
    border-color: darken( $color-path, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-path, $diff-lighter ) );
  }
  &:hover { background-color: lighten( $color-path, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-path, $diff-darker ); }
}