//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-rss: #ff6900;

//
// RSS BUTTON STYLE
// ------------------------------------------------------------------------------------

.rss {
  background-color: $color-rss;

  &:after {
    background-position: 0 -280px;
    border-color: darken( $color-rss, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-rss, $diff-lighter ) );
  }
  &:hover, &:focus { background-color: lighten( $color-rss, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-rss, $diff-darker ); }
}