//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-twitter: #00aced;

//
// TWITTER (& ALTERNATIVE) BUTTON STYLE
// ------------------------------------------------------------------------------------

.twitter, .twitter-alt {  
  background-color: $color-twitter; 
  
  &:after {
    border-color: darken( $color-twitter, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-twitter, $diff-lighter ) );
  }
  &:hover { background-color: lighten( $color-twitter, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-twitter, $diff-darker ); }
}

.twitter:after { background-position: 0 -364px; }
.twitter-alt:after { background-position: 0 -392px; }