//
// VARIABLES
// ------------------------------------------------------------------------------------

$color-vimeo: #5bc8ff;

//
// VIMEO BUTTON STYLE
// ------------------------------------------------------------------------------------

.vimeo {   
  background-color: $color-vimeo;
  
  &:after {
    background-position: 0 -392px;
    border-color: darken( $color-vimeo, $diff-darker );
    @include box-shadow( inset 0px 1px 2px 0px lighten( $color-vimeo, $diff-lighter ) );
  }
  &:hover { background-color: lighten( $color-vimeo, $diff-lighter-hover ); }
  &:active { background-color: darken( $color-vimeo, $diff-darker ); }
}