// ====================================================================================
// CSS Social Media Buttons
// ====================================================================================

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// Set option to 'false' for styles/types that aren't used; to keep the CSS small.
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

// Turn on/off button types: one of the two must always be true
$default : true;
$flat    : true;
// Turn on/off button styles
$round   : true;
$rounded : true;
$border  : true;

//
// Settings
// ------------------------------------------------------------------------------------

@import 'settings/colors';
@import 'settings/buttons';

//
// Base
// ------------------------------------------------------------------------------------

@import 'base/types';
@import 'base/styles';

//
// Buttons
// ------------------------------------------------------------------------------------

@import 'buttons/base';

//
// Icon
// ------------------------------------------------------------------------------------

@import 'icons/sprite';