// ====================================================================================
// BASE | Styles
// ====================================================================================

@if $round == true {
  .csmb-round {
    &,
    &::before,
    &::after {
      border-radius: 50%;
    }
  }
}

@if $rounded == true {
  .csmb-rounded {
    &,
    &::before,
    &::after {
      border-radius: 25%;
    }
  }
}

@if $border == true {
  .csmb-border {
    &::before {
      border: solid $border-size $color-border;
      width: ($button-size + $border-size-outer);
      height: ($button-size + $border-size-outer);
      top: -1 * $border-size-outer;
      left: -1 * $border-size-outer;
    }

    &::after {
      border: solid $border-size $color-border-inner;
      top: -1 * $border-size;
      left: -1 * $border-size;
    }
  }
}

@if $rounded == true and $border == true {
  .csmb-border.csmb-rounded {
    border-radius: 20%;
  }
}
