body {
	font: 400 14px/20px 'Abel', Corbel, Calibri, Helvetica, Verdana, sans-serif;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.csmb, .csmb-flat {
  float: left;
}

  .container.buttons .csmb {
    margin-right: 8px;
  }

.container {
  width: 960px;
  margin: 0 auto 10px;
  clear: both;
}

  /*.container.buttons {
    padding-top: 10px;
  }*/

.types-container {
  width: 50%;
  float: left;
}

  .types-container.default .type, .types-container.default .buttons {
    float: right;
  }

  .types-container.default .type {
    margin: 0 20px 0 0;
  }

  .types-container.flat .type, .types-container.flat .buttons {
    float: left;
  }

  .types-container.flat .type {
    margin: 0 0 0 20px;
  }

  .types-container .button-container {
    overflow: hidden;
    padding: 4px;
  }

  .types-container .type {
    line-height: 36px;
  }

  .types-container .buttons {
    width: 36px;
    height: 36px;
  }

.buttons-header {
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  padding: 0 20px;
  margin: 0 -20px 20px;
}

.buttons-container {
  margin-bottom: 10px;
}

  .buttons-container .type, .buttons-container .buttons {
    float: left;
  }

  .buttons-container .type {
    line-height: 36px;
    margin: 0 0 0 20px;
  }

  .buttons-container .buttons {
    height: 36px;
  }

  .buttons-container .buttons-group {
    float: left;
    margin-right: 20px;
  }
